* {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }
        section a {
            display: inline-block;
            margin-top: 15px;
            padding: 10px 20px;
            background: #00a88f;
            color: white;
            border-radius: 6px;
            text-decoration: none;
            font-weight: bold;
            transition: 0.3s;
        }
        
        header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
        }
        .nav-links a {
            margin: 0 10px;
            text-decoration: none;
            color: #00a88f;
            font-weight: bold;
            transition: 0.3s;
        }
        .nav-links a:hover {
            color: #007a6b;
        }
        .heading {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .heading img {
            width: 100px;
            height: 100px;
            margin-bottom: 20px;
            border-radius: 60px;
        }
        header h1 {
            font-size: 36px;
            color: rgb(129, 15, 145);
        }
        .how-it-works {
            width: 100%;
            max-width: 800px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 40px;
        }
        section h2{
            font-family: 'Times New Roman', Times, serif;
            text-align: center;
        }
        section p {
            font-family: 'Times New Roman', Times, serif;
            text-align: center;
        }
        section {
            margin: 40px auto;
            padding: 20px;
            line-height: 1.6;
            border: aqua solid 6px;
            color: #333;
            border-radius: 10px;
            background-color: aliceblue;
        }